.nav {
	padding: 16px;
	margin-top: 8px;
	border: 1px solid pink;
}
.nav a {
	padding: 0 8px;
}
.product {
	padding: 16px;
}

.article {
	font-size: 1.5rem;
	margin: 4px;
	padding: 8px;
	background-color: darkolivegreen;
}
